{% extends 'base.html' %}
{% load static %}  <!-- Add this line to load the static tag -->
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" href="{% static 'search_environment/css/search_environment.css' %}">
</head>
<body>
    {% if searched %}
        <div class="search-results">
            {% if environments %}
                <h2>Environments</h2>
                <div class="results-container">
                    {% for environment in environments %}
                    <div class="result-card">
                        <div class="result-content">
                            <h3>
                                <a href="{% url 'environment:view_table_task' environment.environment_id %}">{{ environment.label }}</a>
                            </h3>
                            <p>{{ environment.description }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if tasks %}
                <h2>Found Tasks</h2>
                <div class="results-container">
                    {% for task in tasks %}
                    <div class="result-card">
                        <div class="result-content">
                            <h3>
                                <a href="{% url 'task:view_task' task.task_id %}">{{ task.content }}</a>
                            </h3>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% else %}
        <h1 class="error-message">Hey! You forgot to search...</h1>
    {% endif %}
    <script src="{% static 'search_environment/js/search_environment.js' %}"></script>
</body>
</html>

{% endblock %}