{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{% static 'password_reset/css/password_reset_confirm.css' %}">
</head>
<body>
    <div class="reset-container">
        <h1>Reset Your Password</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group">
                <label for="new_password1">New Password</label>
                {{ form.new_password1.errors }}
                {{ form.new_password1 }}
            </div>
            <div class="form-group">
                <label for="new_password2">Confirm New Password</label>
                {{ form.new_password2.errors }}
                {{ form.new_password2 }}
            </div>
            <form action="login/" method="get">
                <button type="submit" class="btn">Reset Password</button>
            </form>
        </form>
    </div>
</body>
</html>